################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AVBMarketing.API/bin/Debug/net6.0
/AVBMarketing.API/obj
/AVBMarketing.EF/bin/Debug/net6.0
/AVBMarketing.EF/obj
/AVBMarketing.Repositories/bin/Debug/net6.0
/AVBMarketing.Repositories/obj
/AVBMarketing.Test/bin/Debug/net6.0
/AVBMarketing.Test/obj
/AVBMarketing.Web/bin
/AVBMarketing.Web/node_modules
/AVBMarketing.Web/obj
